/* Navbar */
.home{
    background: #593218;
}

.navbar .logo{
    width: 285px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.navbar p{
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: -5px;
}

.navbar{
    padding: 0;
    margin: 0;
    /* float: left; */
    background: linear-gradient(#3D2120,#9D5A06);
    width: 100%;
    height: 933px;
    font-family: 'Roboto';
}


.navbar li{
    float: left;
    list-style: none;
    margin-top: -30px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    display: block;
    font-weight: bold;

}

.navbar li a:hover{
    background: white;
    color: #3D2120;
}

.center ul{
    width: fit-content;
    margin: auto;
    
}

.navbar img{
    width: 693px;
    height: 728px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infomedsos .instagram{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-top: -5px;
    margin-left: 250px;
    margin-right: auto;
}
.infomedsos p{
    text-transform: none;
    margin-left: auto;
    margin-right: 270px;

}

.infomedsos .facebook{
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-top: -50px;
    margin-right: 250px;
    margin-left: auto;
}
/* akhir navbar */







.tekskongdjie{
    text-align: center;
}
/* ABOUT */
.about{
    font-family: 'lato';
    background-color: #D6CBCB;
    padding-bottom: 10px;
}

.ornamen img{
    width: 480px;
    height: 450px;
    margin-top: -75px;
    margin-bottom: -430px;
    margin-left: -280px;
    opacity: 80%;
}
.ornamen1 img{
    width: 300px;
    height: 320px;
    margin-bottom: -800px;
    margin-left: 920px;
    opacity: 80%;
}
.mitra1{
    font-family: 'lato';
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #9D5A06;
}

.mitra1 h4{
    padding-bottom: 20px;
    font-weight: bold;
    color: #3D2120;
}
.texbox p{
    background-color: #593218;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    font-weight: bold;
    color: #9D5A06 ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.isi p{
    font-family: 'lato';
    font-size: 20px;
    font-weight: normal;
    color: #9D5A06;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* AKHIR ABOUT */


/* location */
.jumbotron{
    background-color: #3D2120;
    position: relative;
    font-family: 'Roboto';
    margin-bottom: -100px;
}

.jumbotron .display-4{
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.backlog{
    background-color: #593218;
    border: 5px solid white;
}

.backlog .gambar{
    width: 500px;
    height: 550px;
    opacity: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TEKS{
    text-align: left;
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
}
.row{
    padding-bottom: 200px;
}

.tekswilayah{
    margin-top: -500px;
}

.wilayah1{
    text-decoration: none;
    color: white;
    text-align: left;
}

.wilayah2{
    text-decoration: none;
    color: white;
    text-align: right;   ;
}


/* Akhir Locat */

/* CONTACT */
.contact{
    background-color: #9D5A06;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
}
.container{
    font-family: lato;
    color: #3D2120 ;
    padding-top: 25px;
    font-size: 18px;
    font-weight: bold;
}
.contact1 img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.contactmid {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.col-sm .contactmid .cmid {
    color: black;
    text-decoration: none;
}

#email{
    width: 35px;
    height: 26px;
}
#mui{
    width: 80px;
    height: 77px;
}

#bpom{
    width: 80px;
    height: 80px;
}
.sertifikat img{
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.sertifikat {
    text-align: center;
    padding: 5px;
}

.box{
    background-color: #3D2120;
    opacity: 75%;
    border-radius: 10px;
    padding: 4px;

}
/* AKHIR CONTACT */
.footer{
    background-color: #3D2120 ;
    color: #9D5A06;
    font-family: 'lato';
    text-align: center  ;
    position: relative;
    width: 100%;
    height: 25px;
    margin-bottom: top;
}
/* AKHIR FOOTER */

/* VERSI MOBILE */
@media (max-width: 992px) {

}